.body__main{
    background-color: rgb(112, 128, 144);
}

.header__title{
    text-align: center;
    text-decoration: underline;
}

.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__todos{
    width: 400px;
    padding: 30px;
    background-color: rgb(245,245,245);
}

.todo__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size:20px;
    padding: 12px 0px;
    border-bottom: 1px solid rgb(112, 128, 144);
}

.todo__form{
    padding-top: 30px;
}

.todo__title--completed {
    text-decoration: line-through;
    color: rgb(128,128,128);
}

.todo__clear-button{
    color: rgb(256,0,0);
    font-size: 20px;
    cursor: pointer;
}

.todo__clear-button:hover{
    color: rgb(139,0,0);
}